.h1 {
  font-size: 55px;
  font-family: Righteous;
  font-weight: Regular;
  letter-spacing: 0px;
  color: #4d4d4d;
  line-height: 68px;
  font-weight: bold;
}

.h2 {
  text-align: left;
  font-family: Black Avenir;
  line-height: 48px;
  font-size: 35px;
  letter-spacing: 0px;
  color: #4d4d4d;
  font-weight: bold;
}

.h3 {
  font: Black Avenir;
  letter-spacing: 0px;
  line-height: 34px;
  font-size: 25px;
  color: #4d4d4d;
}
.h1,
.h2,
.h3 {
  font-weight: bold;
  text-align: left;
  opacity: 1;
}
